:host{
    display: block;
    min-height: 100vh;
}

.layout-wrapper{
    display: flex;
    min-height: 100vh;
}

app-sidebar{
    flex: 0 0 260px;
}

.layout-main {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

app-header {
    flex: 0 0 auto;
    width: 100%;
}

.content{
    flex: 1;
    min-width: 0;
}