<div class="timeline-card">
  <div class="timeline-header">
    <h3 class="timeline-title">Notes médicales</h3>
    <button class="timeline-view-all">
      Voir tout <i class="ri-arrow-right-s-line"></i>
    </button>
  </div>
  <div class="timeline-list">
    @for (note of patientNotes; track $index; let i = $index) {
    <div class="timeline-item">
      <div class="timeline-line-container">
        <div class="timeline-dot">
          <i class="ri-file-text-line" style="color: #6366f1"></i>
        </div>
        @if (i < patientNotes.length - 1) { <div class="timeline-connector">
      </div>
      }
    </div>
    <div class="timeline-content">
      <div class="timeline-content-header">
        <div>
          <p class="timeline-label">{{ note.remarks }}</p>
        </div>
        <button id="delete-note" (click)="deleteNote(note.notesId)">x</button>
      </div>
    </div>
  </div>
  }

  @if (patientNotes.length === 0) {
  <p style="color: #6b7280; font-size: 0.875rem;">Aucune note trouvée.</p>
  }
</div>
</div>