<div class="header-wrapper">
    <div class="name-presentation">Hey, {{username}}! Heureux de vous revoir</div>
    <div class="quick-menu-access">
        <a class="icon-link" routerLink="/notes" aria-label="Notes">
            <i class="ri-notification-3-line"></i>
        </a>
        <a class="icon-link" routerLink="/register" aria-label="Inscription">
            <i class="ri-settings-line"></i>
        </a>
        <a class="icon-link" routerLink="/login" aria-label="Connexion">
            <i class="ri-image-circle-line"></i>
        </a>
    </div>
</div>