.main-container{
    background-color: #0A1F44;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.website-infos-container{
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid #273b5e;
}

.logo{
    width: 50px;
    height: 50px;
}

.website-version{
    color: rgb(124, 119, 119);
    font-size: 0.8em;
}

.doctor-avatar{
    padding: 1em;
    background-color: rgb(124, 119, 119);
    width: auto;
    border-radius: 100%;
}

.current-doctor-infos{
    padding: 0.8em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-bottom: 1px solid #273b5e;
}
.doctor-name{
    font-size: 0.8em;
}

.doctor-speciality{
    color: #0D9488;
    font-size: 0.7em;
}

.nav-menu-container{
    padding: 1em;
    flex: 1;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: 0.8em;
    border-radius: 5px;
    color: #0fac9f;
    font-size: 0.9em;
}

.nav-menu:hover{
    background-color: #0f2955;
    color: white;
}

.access-nav-container{
    border-top: 1px solid #273b5e;
    display: grid;
    margin-top: auto;
    padding: 1em;
    gap: 0.5em;
}

.access-nav{
   display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: 0.8em;
    border-radius: 5px;
    color: #0fac9f;
    font-size: 0.9em;
}

.access-nav:hover{
    background-color: #0f2955;
    color: white;
}