<div class="patient-details-container">
    <div class="patient-header">
        <app-avatar></app-avatar>
        <div class="patient-details">
            <div class="full-name">Marie Dupont</div>
            <div class="details-wrapper">
                <div class="age">54 ans -- né(e) le 12/03/1970</div>
                <div class="room">Chambre B-214</div>
                <div class="status">Critique</div>
            </div>
            <div class="symptom">Insuffisance cardiaque</div>
        </div>
        <div class="buttons-container">
            <button class="ordonancy"></button>
            <button class="edit-patient">Modifier dossier</button>
        </div>
    </div>
    <div class="patient-specifications">
        <div class="specifications">
            <div class="group">GROUPE SANGUIN</div>
            <div class="type">A+</div>
        </div>
        <div class="specifications">
            <div class="group">ALLERGIE</div>
            <div class="type">Pénicilline</div>
        </div>
        <div class="specifications">
            <div class="group">MÉDECIN TRAITANT</div>
            <div class="type">Dr. {{firstName() + ' ' + lastName()}}</div>
        </div>
    </div>
</div>
<div class="patient-curves">
    <app-curve-card></app-curve-card>
    <app-curve-card></app-curve-card>
    <app-curve-card></app-curve-card>
    <app-curve-card></app-curve-card>
</div>